#top-page {
    background-image: url(../images/pexels-photo-406014.jpeg);

    background-repeat: no-repeat;

    background-size:  cover;

    background-position: center bottom;

    
}

#header {
    font-size: 150px;
    font-weight: bold;
}

#background-img {
    background-image: url(../images/stripes-light.png);

    background-repeat: no-repeat;

    background-size: cover;

}


#start{
    float: left;
    font-size: 100px;
    background: none;
    border: none;
    margin-top: 100px;
    margin-right: 50px;
    cursor: hand;
    

}

